Repository MatthewMckee4/course-notes, changes with the labels that .github/labeler.yml gives for each.
All labels: Programming Languages, Advanced Systems Programming, Software Product Release Engineering, Functional Programming, Github Actions

.github/labeler.yml:

Programming Languages:
  - changed-files:
      - any-glob-to-any-file: notes/year_4/computing_science/programming_languages/**

Advanced Systems Programming:
  - changed-files:
      - any-glob-to-any-file: notes/year_4/computing_science/advanced_systems_programming/**

Software Product Release Engineering:
  - changed-files:
      - any-glob-to-any-file: notes/year_4/computing_science/software_product_release_engineering/**

Functional Programming:
  - changed-files:
      - any-glob-to-any-file: notes/year_4/computing_science/functional_programming/**

Github Actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

Advanced Systems week 6
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Finish week 6
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Advanced Systems week 6 (#62)
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Finish week 7
  codebook.toml
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Finish week 7 (#63)
  codebook.toml
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Advanced Systems week 8
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Programming languages week 1
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages

Programming languages week 1 (#65)
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages

Finish first part of week 8
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Add lab
  notes/year_4/computing_science/advanced_systems_programming/labs/week_1/presentation.md
Labels: Advanced Systems Programming

Advanced Systems week 8 (#64)
  notes/year_4/computing_science/advanced_systems_programming/labs/week_1/presentation.md
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Add notes for pl week 2
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages

Add notes for pl week 2 (#66)
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages

Programming languages week 3 notes
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages

.
  notes/year_4/computing_science/.DS_Store
  notes/year_4/computing_science/advanced_systems_programming/notes.txt
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages, Advanced Systems Programming

.
  notes/year_4/computing_science/.DS_Store
  notes/year_4/computing_science/advanced_systems_programming/notes.txt
Labels: Advanced Systems Programming

Pl week 3 (#67)
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages

Programming languages week 4 notes
  notes/year_4/computing_science/.DS_Store
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages

.
  notes/year_4/computing_science/.DS_Store
Labels: none

Pl week 4 (#68)
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages

Programming languages and Advanced Systemss week 6 notes
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages, Advanced Systems Programming

Programming languages and Advanced Systemss week 6 notes (#69)
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
  notes/year_4/computing_science/programming_languages/notes.typ
Labels: Programming Languages, Advanced Systems Programming
