Repository MatthewMckee4/course-notes, changes with the labels that .github/labeler.yml gives for each.
All labels: Systems Programming, Github Actions

Update README
  README.md
Labels: none

Some updates
  .vscode/settings.json
  Makefile
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Add week 2
  .vscode/settings.json
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Week 3, 4
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Week 5
  .vscode/settings.json
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Week 6
  .vscode/settings.json
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Make compile fail
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Make compile fail
  .github/workflows/ci.yml
  Makefile
Labels: Github Actions

Fix compile
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Fix rename command
  Makefile
Labels: none

Fix workflows
  .github/workflows/build-release.yml
  .github/workflows/ci.yml
Labels: Github Actions

Fix workflows
  .github/workflows/build-release.yml
  .github/workflows/ci.yml
  Makefile
Labels: Github Actions

Fix workflows
  Makefile
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Fix typ
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Update Systems Programming Notes (#40)
  .github/workflows/ci.yml
  .vscode/settings.json
  Makefile
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming, Github Actions

Finish notes
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Update past paper
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Update Systems Notes (#41)
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Add past paper 22
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

Add example past paper
  notes/year_3/computing_science/systems_programming/notes.typ
Labels: Systems Programming

.github/labeler.yml:

Systems Programming:
- changed-files:
  - any-glob-to-any-file: notes/year_3/computing_science/systems_programming/**

Github Actions:
- changed-files:
  - any-glob-to-any-file: .github/**
