Repository MatthewMckee4/course-notes, changes with the labels that .github/labeler.yml gives for each.
All labels: Programming Languages, Advanced Systems Programming, Software Product Release Engineering, Functional Programming, Github Actions

.github/labeler.yml:

Programming Languages:
  - changed-files:
      - any-glob-to-any-file: notes/year_4/computing_science/programming_languages/**

Advanced Systems Programming:
  - changed-files:
      - any-glob-to-any-file: notes/year_4/computing_science/advanced_systems_programming/**

Software Product Release Engineering:
  - changed-files:
      - any-glob-to-any-file: notes/year_4/computing_science/software_product_release_engineering/**

Functional Programming:
  - changed-files:
      - any-glob-to-any-file: notes/year_4/computing_science/functional_programming/**

Github Actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

Fix release
  .github/workflows/build-release.yml
Labels: Github Actions

Fix release (#46)
  .github/workflows/build-release.yml
Labels: Github Actions

Add Advanced Systems Programming Week 3 a notes
  .vscode/settings.json
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Add Advanced Systems Programming Week 3 b notes
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Add Advanced Systems Programming Week 3 c notes
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Add Advanced Systems Programming Week 3 d notes
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Add Advanced Systems Programming Week 3 notes (#47)
  .vscode/settings.json
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Add Advanced Systems Programming Week 4 notes
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Add Advanced Systems Programming Week 4 notes (#48)
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Advanced Systems week 5
  notes/year_4/computing_science/advanced_systems_programming/assets/layout-of-a-process-in-memory.png
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Advanced Systems week 5 (#49)
  notes/year_4/computing_science/advanced_systems_programming/assets/layout-of-a-process-in-memory.png
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Advanced Systems week 5
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Functional Programming Week 1
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Finish notes
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 1 (#50)
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 2
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 2 (#52)
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 3
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 3 (#53)
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 4
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 4 (#54)
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 5
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 5
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 5 (#55)
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 6 Lecture 9
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Progress
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

progress
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 6 (#56)
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 7
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 7 (#57)
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 9
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Some of week 10
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Functional Programming Week 9 (#58)
  notes/year_4/computing_science/functional_programming/notes.typ
Labels: Functional Programming

Update release workflow to only run on workflow call
  .github/workflows/release.yml
Labels: Github Actions

Update release workflow to only run on workflow call (#60)
  .github/workflows/release.yml
Labels: Github Actions

Finish week 5
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Use prek
  .github/workflows/ci.yml
Labels: Github Actions

Advanced Systems week 5 (#51)
  notes/year_4/computing_science/advanced_systems_programming/notes.typ
Labels: Advanced Systems Programming

Run ci when ci workflow changes
  .github/workflows/ci.yml
Labels: Github Actions

Use prek (#61)
  .github/workflows/ci.yml
Labels: Github Actions
