Repository MatthewMckee4/course-notes, pull requests merged in 2025-04, with the labels that each got.

#4 Update Systems Notes to break it up more so its easier to read
  .github/workflows/labeler.yml
  notes/2024-2025/computing_science/4081_systems_programming/notes.tex
Labels: Systems Programming

#3 Add more Networked systems notes
  .github/workflows/build-release.yml
  .gitignore
  Makefile
  notes/2024-2025/computing_science/4012_networked_systems/notes.pdf
  notes/2024-2025/computing_science/4012_networked_systems/notes.tex
  notes/2024-2025/computing_science/4012_networked_systems/questions/questions.pdf
  notes/2024-2025/computing_science/4013_database_systems/notes.pdf
  notes/2024-2025/computing_science/4015_professional_software_development/notes.pdf
  notes/2024-2025/computing_science/4073_data_fundamentals/notes.pdf
  notes/2024-2025/computing_science/4081_systems_programming/notes.pdf
Labels: Networked Systems, Database Systems, Professional Software Development, Data Fundamentals, Systems Programming

#6 Add Networked Systems more notes from week 2 and 3
  .github/labeler.yml
  .github/workflows/build-release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .pre-commit-config.yaml
  README.md
  notes/2024-2025/computing_science/4012_networked_systems/notes.tex
  notes/2024-2025/computing_science/4012_networked_systems/questions/questions.tex
  notes/2024-2025/computing_science/4013_database_systems/notes.tex
  notes/2024-2025/computing_science/4015_professional_software_development/notes.tex
  notes/2024-2025/computing_science/4073_data_fundamentals/fact_sheets/facts.md
  notes/2024-2025/computing_science/4073_data_fundamentals/notes.tex
  notes/2024-2025/computing_science/4081_systems_programming/notes.tex
Labels: Networked Systems, Database Systems, Professional Software Development, Data Fundamentals, Systems Programming, Github Actions

#15 Data fundamentals index sheet
  notes/2024-2025/computing_science/data_fundamentals/index.tex
Labels: Data Fundamentals

#11 Update network notes
  notes/2024-2025/computing_science/networked_systems/notes.tex
Labels: Networked Systems

#16 Algebra
  .github/labeler.yml
  notes/2024-2025/maths/algebra/image-1.png
  notes/2024-2025/maths/algebra/image-2.png
  notes/2024-2025/maths/algebra/image-3.png
  notes/2024-2025/maths/algebra/image-4.png
  notes/2024-2025/maths/algebra/image-5.png
  notes/2024-2025/maths/algebra/image-6.png
  notes/2024-2025/maths/algebra/image-7.png
  notes/2024-2025/maths/algebra/image-8.png
  notes/2024-2025/maths/algebra/image.png
  notes/2024-2025/maths/algebra/notes.md
Labels: Github Actions, Algebra
